<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="LinkChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LinkChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
        <LinkChecker.Properties.Settings>
              <setting name="SMTPServer" serializeAs="String">
                    <value>mail.sample.com</value>
              </setting>
              <setting name="SMTPAccount" serializeAs="String">
                    <value>yourname@sample.com</value>
              </setting>
              <setting name="SMTPPassword" serializeAs="String">
                    <value>password</value>
              </setting>
        </LinkChecker.Properties.Settings>
    </applicationSettings>
  <userSettings>
    <LinkChecker.Properties.Settings>
      <setting name="DomainsToCheck" serializeAs="String">
        <value>sample.com;sample.com;sample.com</value>
      </setting>
    </LinkChecker.Properties.Settings>
  </userSettings>
</configuration>
